body {
    background-color:#82C2CB;
}

body.switch {
    background-color:#cfa0c5af;
}

header {
    margin: 0 auto 2em auto;
}

header h1 {
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    margin-left:175px ;
}

header h2 {
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    margin-left:175px ;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: #e2dbcdfd;
    overflow: hidden;
}

#banner.switch {
    background-color: #ffffff;
}

main {
    display: flex;
    margin: auto;
    padding-left: 200px;
}

main section {
    width: 25%;
    margin: 0 .25em;
    padding: 1em;
    padding-left: 0.01em;
    padding-top: 0.2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #D684C4;
}

ol, ul {
    list-style-type: none;
    margin-right: 0px;
    padding: 0.01em;
}

section a {
    line-height: 1.7em;
    display: inline-block;
    padding: 0.1em;
    color: #615A5F;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

section h2 {
    color: #D684C4;
    font-family: 'PT Mono', monospace;
    font-size: 33px;
}

section h3 {
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

section.switch h2 {
    color:#82C2CB;
}

section.switch h3 {
    color:#594a41;
}

section.switch a {
    color:#ffffff;
}

section.switch a:hover {
    color: #82C2CB;
}


button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: #ffffff;
    color: #82C2CB;
    border: 1px solid transparent;
}

button:hover {
    background-color: #dbbfcd;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}

#container div {
    position: absolute;
}
  
  #container div::before,
  #container div::after {
    content: '';
    position: absolute;
    display: block;
    
}

.head {
    background: #a78a7f;
    height: 70px;
    width: 152px;
    bottom: 422px;
    left: 346px;
    z-index: 14;
    border-radius: 100%;
}

.head:before {
    height: 122px;
    width: 122px;
    left: 54px;
    bottom: 0px;
    border-radius: 90% 50% 90% 90%;
    transform: rotateZ(226deg);
    background: #594a4a;
    z-index: 14;
}

.muzzle {
    z-index: 5;
    width: 152px;
    height: 70px;
    bottom: 425px;
    left: 347px;
    background: #A78A7F;
    border-radius: 100%;
}

.ears {
    width: 42px;
    height: 42px;
    background: #594a41;
    border-radius: 100%;
    left: 390px;
    bottom: 510px;
    box-shadow: 34px -8px 0 0 #594a41
}

.body {
    width: 300px;
    height: 150px;
    background: #594a41;
    left: 428px;
    bottom: 430px;
    border-radius: 50%;
    
}

.paws-front {
    z-index: 15;
    background: #A78A7F;
    width: 100px;
    height: 50px;
    bottom: 414px;
    left: 480px;
    border-radius: 80% 22% 55% 50% / 55% 22% 80% 50%;
    transform: rotateZ(12deg);
}

.paws-back {
    width: 100px;
    height: 52px;
    border-top-left-radius: 100%;
    background: #A78A7F;
    left: 630px;
    bottom: 433px;
}

.paws-back:after {
    width: 36px;
    height: 52px;
    border-radius: 100%;
    left: 80px;
    background: #A78A7F;
}

.details {
    width: 25px;
    height: 25px;
    background: #221E22;
    border-radius: 100%;
    z-index: 200;
    box-shadow: 100px 0 0 #AD5D4E;
    bottom: 440px;
    left: 335px;
}

.details:after {
    width: 22px;
    height: 22px;
    border-bottom: 5px solid #221E22;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50%;
    left: 68px;
    bottom: 17px;
}
  
.tail {
    width: 50px;
    height: 50px;
    background: #594a41;
    border-radius: 100%;
    left: 697px;
    bottom: 500px;
}
  
.sleep {
    height: 90px;
    width: 80px;
    position: absolute;
    left: 280px;
    bottom: 450px;
    font-size: 55px;
  }
  
.sleep span {
    width: 15px;
    height: 15px;
    display: block;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background: #221E22;
    animation: zz 3s linear infinite;
  }
  
  .sleep .s1 {
    margin-left: 180px;
    margin-top: -40px;
  }
  
  .sleep .s2 {
    margin-left: 120px;
    margin-top: -5px;
  }
  
  .sleep .s3 {
    margin-left: 60px;
    margin-top: 5px;
  }
  
  .sleep .s4 {
    margin-left: 0px;
    margin-top: 12px;
  }
  
  .sleep .s5 {
    margin-left: -5px;
    margin-top: 52px;
  }
  
  @keyframes zz {
    0% {
      opacity: 0;
      transform: scale3d(.2, .2, .2) rotate(-20deg);
    }
    50% {
      opacity: 1;
    }
    80% {
      transform: translateY(-30px) translateX(20px) rotate(10deg);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
