body {
    font-weight: 300;
    padding: 150px 0px;
    background-color: #af8b8b;
}

.one, p{
    position: absolute;
    text-align:center;
    height: 100px;
    left: -40px;
    right: -30px;
    top: -378px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 290px;
    line-height: 300px;
    color: rgba(255, 255, 255, 0.096);
    mix-blend-mode: lighten;
}

.two, p{
    position: absolute;
    text-align:center;
    height: 300px;
    left: -40px;
    right: -30px;
    top: 33px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #ffffff;
}

.container a{
    position: absolute;
    width: 48px;
    height: 47px;
    right: 90px;
    top: 50px;
    font-size: 48px;
    color:#fafafa;
}

.container a{
    max-width: 600px;
    margin: auto;
}

main ol li {
    box-shadow: 0px 0px 8px 0px #afa4a4;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
}

main ol li div {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}


#add-friend{
    position: fixed;
    background: #fdfcfb;
    color: rgb(233, 223, 223);
    padding-top: 450px;
    width: 99%;
    height: 20%;
}

#add-friend {
    z-index: 50;
    border-radius: 40px;
}

#add-friend h1{
    position: absolute;
    text-align:center;
    left: -40px;
    right: -30px;
    margin-top: -400px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 230px;
    line-height: 50px;
    color: #b8aba994;
}

#add-friend h2{
    position: absolute;
    text-align:center;
    width: 400px;
    height: -400px;
    margin: 1% 63%; 
    bottom: 360px;
    left: 0;
    right: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #b8aba9d0;
}

/* #add-friend h3{
    text-align:center;
    height: 30px;
} */


.add-friend-offscreen { bottom: -1000px; transition: all 500ms cubic-bezier(0.600, 0.040, 0.980, 0.335); }
.add-friend-onscreen { bottom: 80px;  transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);}

main {
    align-items: center;
	justify-content: center;

}

input[id=fileupload]{
    position: absolute;
    width: 180px;
    height: 60px;
    margin: 1% 20%; 
    bottom: 300px;
    left: 0;
    right: 0; 
    
}


input[id=location]{
    position: absolute;
    box-sizing: border-box;
    width: 180px;
    height: 60px;
    margin: 1% 20%; 
    bottom: 50px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 2px solid #c2afac;
    box-sizing: border-box;
    border-radius: 30px;
}

input[id=description]{
    position: absolute;
    width: 320px;
    height: 300px;
    margin: 1% 66%; 
    bottom: 50px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 2px solid #c2afac;
    box-sizing: border-box;
    border-radius: 30px;
}

input[type=submit] {
    position: absolute;
    width: 160px;
    height: 53px;
    margin: 10% auto; 
    bottom: -60px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 2px solid #c2afac;
    box-sizing: border-box;
    border-radius: 26px;
} 





